/* This file is for your main application css. */

.menu {
  width: 100%;
  height: 100%;
  position: relative;
  /* text-align: center; */
  margin: 0 auto;
}

.option {
  background-color: rgba(77, 212, 255, 0.1);
  color: black;
  float: left;
  padding: 1.5em;
  padding-right: 5em;
  padding-left: 5em;
  margin: 13%;
  border-radius: 5px;
}

a img {
  outline : none;
}

a:active, a:focus {
  outline: none;
}

section h4 {
  font-size: 3em;
  font-family: 'Cinzel', serif;
}

.left_menu, .right_menu {
  width: 50%;
}

.left_menu, .right_menu {
  float: left;
}
