<div class="menu">
  <div class="left_menu">
    <section class="option"><h4>Posts</h4></section>
    <section class="option"><h4>Videos</h4></section>
  </div>
  <div class="right_menu">
    <section class="option"><h4>Books</h4></section>
    <section class="option"><h4>Search</h4></section>
  </div>
</div>
